:root, [data-bs-theme=light] {
    --bs-font-sans-serif: 'Inter', sans-serif;
    --bs-border-radius: 0.1rem;
    --bs-heading-color: #323338;
    --bs-body-font-size: 0.875rem;
}
body {
    font-family: 'Inter', sans-serif;
}
@media (min-width: 1200px) {
    .h2, h2 {
        font-size: 1.5rem;
    }
}
a {
    color: #4153ef;
    text-decoration: none;
}
.btn {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3px;
    border-radius: 6px;
    --bs-btn-padding-y: 0.591rem;
    --bs-btn-padding-x: 1.5rem;
}
.btn-primary {
    --bs-btn-bg: #4153ef;
    --bs-btn-border-color: #4153ef;
    --bs-btn-hover-bg: #2439ec;
    --bs-btn-hover-border-color: #2439ec;
    --bs-btn-active-bg: #2439ec;
    --bs-btn-active-border-color: #2439ec;

    --bs-btn-disabled-bg: #4153ef;
    --bs-btn-disabled-border-color: #4153ef;
}
.form-label {
    font-size: 13px;
    font-weight: 500;
    color: #606770;
}
.form-label-required {
    color: #ff2a2a;
}
.form-control,
.form-select {
    font-size: 13px;
    font-weight: 500;
    border-radius: 6px;
}
.form-control {
    padding: 0.591rem 1rem;
}
.form-select {
    padding-top: 0.591rem;
    padding-bottom: 0.591rem;
    min-width: 100px;
}
.form-control::placeholder {
    color: #AFB2C2;
}
.form-helper {
    margin-top: 10px;
    font-size: 11px;
    color: #979BAD;
    font-weight: 500;
}
.form-text {
    font-size: 13px;
    font-weight: 500;
    color: #323338;
}
.form-link {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
}
.radio-btns input[type="radio"] {
    display: none;
}
.radio-btns label+label {
    margin-left: 1rem;
}
.radio-btns label span {
    position: relative;
    display: block;
    border: 1px solid #D3D6DF;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    padding: 0 1rem 0 3rem;
    font-size: 13px;
    font-weight: 600;
    color: #606770;
    cursor: pointer;
}
.radio-btns label span:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #D3D6DF;
    border-radius: 999px;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
.radio-btns input[type="radio"]:checked + span,
.radio-btns input[type="radio"]:checked + span:before {
    border-color: #4153ef;
}
.radio-btns input[type="radio"]:checked + span {
    background-color: #4153ef20;
}
.radio-btns input[type="radio"]:checked + span:before {
    border-width: 6px;
}

.card {
    --bs-card-spacer-y: 1.2rem;
    border: none;
    border-radius: 6px;
}

.modal {
    --bs-modal-header-padding: 0 1rem;
}
.modal .modal-content {
    border: none;
}
.modal .modal-header {
    border-bottom: none;
    padding-top: 2rem;
}
.modal .modal-body {
    padding: 1.2rem 1.5rem 2.2rem 1.5rem;
}
.modal .btn-close {
    --bs-btn-close-opacity: 0.3;
    --bs-btn-close-hover-opacity: 0.5;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.modal .modal-title {
    font-size: 1.2rem;
    font-weight: 600;
}
.modal .modal-content {
    font-size: 0.82rem;
    font-weight: 500;
    color: #6e6e6e;
}

.table {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}
.table th {
    font-size: 12px;
    font-weight: 600;
    color: #B5B5C3;
    text-transform: uppercase;
}
.table th,
.table td {
    padding: 0.65rem 1rem;
}
.table,
.table thead,
.table tr,
.table>:not(caption)>*>* {
    border: none;
}
.table tr:not(:last-child),
.table thead {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #f1f1f1;
}
.table .clickable-row {
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    border-radius: 8px;
}
.table .clickable-row:hover {
    background-color: #f9f9f9;
}

.badge {
    --bs-badge-padding-x: 0.8rem;
    --bs-badge-padding-y: 0.4rem;
    --bs-badge-font-size: 0.7rem;
    --bs-badge-font-weight: 700;
    --bs-badge-border-radius: 0.4rem;
}
.badge-light-danger {
    color: #F1416C;
    background-color: #FFF5F8;
}
.badge-light-success {
    color: #50CD89;
    background-color: #E8FFF3;
}