.logo-login {
    display: block;
    margin-bottom: 2.5rem;
    height: 1.875rem;
}

.logo-login img {
    height: 100%;
}

.login-page .page-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.login-page .page-subtitle {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #606770;
    margin-bottom: 1.875rem
}

.login-page .text-helper {
    font-weight: 500;
    font-size: 0.8125rem;
    color: #606770;
}

.login-page .text-helper a {
    color: #4153ef;
    text-decoration: none;
}

.login-page .left-section {
    position: relative;
    min-height: 100vh;
}
.left-content {
    width: 100%;
    max-width: 31.25rem;
    padding-top: 3.75rem;
    padding-bottom: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
@media (min-width: 992px) {
    .left-content {
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
}

.login-page .login-hero {
    padding: 1.25rem;
}
.login-page .login-hero img {
    max-width: 100%;
}
.login-page .right-section {
    display: none;
    background-color: #4153ef;
    text-align: center;
}
@media (min-width: 992px) {
    .login-page .right-section {
        display: block;
    }
    .login-page .right-section .d-flex {
        min-height: 100vh;
    }
}
.login-page .right-section h2 {
    color: #f1f1f1;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.login-page .right-section p {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #ffffffb5;
    line-height: 1.8;
}

.slider-section {
    width: 100%;
    max-width: 31.25rem;
    padding-bottom: 1.875rem;
    position: fixed;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.password-strength {
    margin-top: 0.625rem;
}

.password-strength .strength-bar {
    width: 100%;
    height: 0.4375rem;
    border-radius: 999px;
    background-color: #E6E6E6;
}
.password-risky .col:nth-child(1) .strength-bar {
    background-color: #f95e68;
}
.password-guessable .col:nth-child(1) .strength-bar,
.password-guessable .col:nth-child(2) .strength-bar {
    background-color: #fb964d;
}
.password-weak .col:nth-child(1) .strength-bar,
.password-weak .col:nth-child(2) .strength-bar,
.password-weak .col:nth-child(3) .strength-bar {
    background-color: #fdd244;
}
.password-safe .col:nth-child(1) .strength-bar,
.password-safe .col:nth-child(2) .strength-bar,
.password-safe .col:nth-child(3) .strength-bar,
.password-safe .col:nth-child(4) .strength-bar {
    background-color: #b0dc53;
}
.password-secure .strength-bar {
    background-color: #35cc62;
}

.login-page .copyrights {
    font-size: 0.75rem;
    color: #979BAD;
    font-weight: 600;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1.875rem;
    display: block;
    width: 100%;
    text-align: center;
}

.dashboard-page {
    background-color: #f4f4fa;
}

.dashboard-page .page-wrap {
    padding-left: 16.25rem;
}
@media (max-width: 991.98px) {
    .dashboard-page .page-wrap {
        padding: 0;
    }
}

.side-navbar {
    display: block;
    background-color: #0B2239;
}
.side-navbar.desktop-navbar {
    position: fixed;
    width: 16.25rem;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
}
.side-navbar.mobile-navbar {
    width: 17.5rem;
}
.side-navbar .offcanvas-header,
.side-navbar .offcanvas-body {
    padding: 0;
}
.side-navbar .logo {
    height: 3.75rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom: 1px dashed #ffffff33;
}
.side-navbar .logo img {
    height: 1.5625rem;
}
.side-navbar .btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}

.main-menu {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
}

.menu-column ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-column ul li+li {
    margin-top: 0.4rem;
}

.menu-column {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu-column-title {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #c0c0c0;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.menu-column .menu-link {
    font-size: 0.8125rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    flex: 0 0 100%;
    padding: 0.6rem 1rem;
    transition: none;
    outline: none !important;
    border-radius: 0.375rem;
    color: #eee;
    line-height: 1;
}

.menu-column .menu-link.active {
    background-color: #4153ef;
    color: #ffffff;
}

.menu-column .menu-icon {
    margin-right: 1rem;
    font-size: 1.125rem;
    line-height: 1rem;
}

.dashboard-page .topbar {
    display: block;
    background-color: #fff;
    height: 3.75rem;
    padding: 0 1.5rem;
}

@media (max-width: 991.98px) {
    .dashboard-page .topbar,
    .side-navbar .logo {
        height: 3rem;
    }
}

.dashboard-page .topbar .d-flex {
    height: 100%;
}

.dashboard-page .topbar h2 {
    font-size: 1.125rem;
    margin: 0;
    font-weight: 700;
}

.hamburger-menu {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.hamburger-menu span {
    position: relative;
    width: 100%;
    height: 0.1875rem;
    background-color: #0B2239;
}
.hamburger-menu span:after,
.hamburger-menu span:before {
    content: "";
    position: absolute;
}
.hamburger-menu span,
.hamburger-menu span:after,
.hamburger-menu span:before {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0B2239;
    border-radius: 4px;
}
.hamburger-menu span:after {
    bottom: 0.5rem;
}
.hamburger-menu span:before {
    top: 0.5rem;
}

.nav-profile {
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
    border-radius: 999px;
    padding: 0.125rem 1rem 0.125rem 0.125rem;
}

.nav-profile-avatar {
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 999px;
    overflow: hidden;
    margin-right: 9.6px;
}

.nav-profile-avatar img {
    max-width: 100%;
    max-height: 100%;
}

.nav-profile-name {
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: bold;
    color: #323338;
}

.profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 999px;
    background-color: #e2e8ed;
    color: #7f90a4;
    text-align: center;
    font-size: 1rem;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
}
.profile-btn img {
    max-width: 100%;
    max-height: 100%;
}

.profile-btn:hover {
    color: #4153ef;
    background-color: #4153ef26;
}

.dashboard-content {
    padding: 1.5rem;
}

.dashboard-page .card-heading {
    margin-bottom: 1.2rem;
}
.dashboard-page .card-body {
    padding: 1.5rem;
}
@media (max-width: 991.98px) {
    .dashboard-page .card-body {
        padding: 1rem;
    }
}
.dashboard-page .card-title {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0;
    color: #323338;
}
.orange-card {
    /* background: linear-gradient(112.14deg, #FF8A00 0%, #E96922 100%); */
    background: linear-gradient(112.14deg, #00D2FF 0%, #3A7BD5 100%);
    color: #fff;
}

.dashboard-page .card-text,
.dashboard-page .card-subtitle {
    display: block;
    font-weight: 600;
    font-size: 0.8125rem;
    color: #979BAD;
}
.today-incomes-card h5 {
    font-size: 14px;
    font-weight: 600;
    color: #b5b5c3;
}
.today-incomes-card .chart-label {
    display: flex;
    align-items: start;
    margin-bottom: 0.8rem;
}
.today-incomes-card .label-color {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #36a2eb;
    margin-right: 1rem;
}
.today-incomes-card .label-incomes {
    background-color: #36a2eb;
}
.today-incomes-card .label-expenses {
    background-color: #ff6384;
}
.today-incomes-card .label-label {
    font-size: 13px;
    font-weight: 600;
}

.profile-box .profile-avatar {
    position: relative;
    margin-right: 1rem;
}
.profile-avatar input {
    display: none;
}
.profile-avatar input + label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    cursor: pointer;
  }
.profile-avatar input + label:hover {
    opacity: 1;
}
.profile-avatar .avatar-preview {
    width: 6.875rem;
    height: 6.875rem;
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;
}
@media (max-width: 991.98px) {
    .profile-avatar .avatar-preview {
        width: 6rem;
        height: 6rem;
    }
}
.profile-avatar .avatar-preview > img {
    width: 100%;
    height: 100%;
}

.profile-box .profile-infos {
    padding-bottom: 6px;
}
.profile-box .profile-name {
    line-height: 1;
    font-size: 1.0625rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
    margin-top: 0.5rem;
}
.profile-box .profile-email {
    font-size: 0.8125rem;
    color: #979BAD;
    font-weight: 500;
    margin-bottom: 0.3rem;
}
.profile-box .profile-date {
    font-size: 0.75rem;
    color: #979BAD;
    font-weight: 500;
}
.profile-nav {
    word-break: keep-all;
    overflow-x: auto;
    text-wrap: nowrap;
}
.profile-nav::-webkit-scrollbar { display: none; }

.sidebar-card .card-title {
    font-size: 0.9375rem;
    /* margin-bottom: 1.2rem; */
}

.sidebar-card .link {
    font-size: 0.8125rem;
    font-weight: 700;
}

.delete-account-modal .delete-help {
    color: #ababab;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.delete-account-modal .delete-icon {
    display: block;
    width: 2.625rem;
    height: 2.625rem;
    margin-right: 1.25rem;
    line-height: 2.2;
    border-radius: 999px;
    text-align: center;
    font-size: 1.375rem;
    color: #ededed;
    background-color: #f1013a;
}

.mobileapp-card .card-content {
    padding: 1rem 0;
}

.mobileapp-card h2 {
    font-size: 1.25rem;
    line-height: 1.5;
}

.profile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.profile-nav ul li {
    margin-right: 1.5rem;
}
.profile-nav li > a {
    display: block;
    font-size: 0.8125rem;
    font-weight: 600;
    color: #A1A5B7;
    padding: 0.6rem 0;
    border-bottom: 3px solid transparent;
}
.profile-nav li.active > a {
    font-weight: 700;
    color: #4153ef;
    border-color: #4153ef;
}

.page-title.d-desktop {
    font-size: 1.25rem;
    font-weight: 700;
}
.page-title.d-mobile {
    font-size: 1.125rem;
    font-weight: 700;
}